@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.slider-super-container {
  user-select: none;
}

.slider-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
}

.aspect-ratio-box {
  width: 100%;
  position: relative;
}

.slider-container {
  padding-top: 71.05%;
}

.swiper-slide {
  height: 100vh !important;
}

.swiper-override {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: grab;
}
.swiper-override:active {
  cursor: grabbing;
}

.slide-full-height {
  padding: 0 100px;
  position: relative;
  height: 100%;
  padding-top: 10vh;
}

.slide-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
  position: relative;
}
.slide-play-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-color: #fff3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  z-index: 2;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0;
  transition: opacity 1s ease-in;
  pointer-events: none;
  bottom: 75%;
  top: auto;
}
.swiper-slide-active .slide-play-button {
  opacity: 1;
  pointer-events: auto;
}
.slide-play-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.slide-play-button-icon {
  width: 12px;
  height: 12px;
  fill: white;
}

.slide-header {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  display: none;
}

.slider-contentDown {
  position: absolute;
  padding: 0 60px 40px;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
.slider-contentDown-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.slider-button {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}
.slider-button:hover {
  background: rgba(255, 255, 255, 0.05);
}
.slider-button-icon {
  stroke: currentColor;
  fill: white;
  color: white;
  transition: 0.2s ease-in-out;
  width: 24px;
  height: 24px;
}
.slider-button-icon2 {
  transform: scaleX(-1);
  stroke: currentColor;
  fill: white;
  color: white;
  transition: 0.2s ease-in-out;
  width: 24px;
  height: 24px;
}

.slider-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: all ease-in-out 0.5s;
  background: rgb(255, 255, 255);
}

.slider-background-image {
  position: relative;
  width: 100%;
  height: 50%;
  background: url("/sliderBack1.jpg");
  background-size: cover;
  mix-blend-mode: multiply;
}
.slider-background-image::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 20px;
  filter: blur(10px);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  pointer-events: none;
  z-index: 1;
}
.slider-background-image2 {
  position: relative;
  width: 100%;
  height: 50%;
  background: url("/sliderBack2.jpg");
  background-size: cover;
  mix-blend-mode: multiply;
}

.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 20px;
}

.custom-bullet {
  background-color: rgba(255, 255, 255, 0.85) !important;
  transition: all 0.3s ease;
}

.custom-bullet.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0) !important;
  width: 20px !important;
  height: 20px !important;
  border: 1px solid white;
  position: relative;
  transition: 0.3s;
}
.custom-bullet.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  .custom-bullet.swiper-pagination-bullet-active::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.slider-contentDown-options {
  height: 110px;
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}
.slider-contentDown-options.visible {
  opacity: 1;
  transition: 1s;
  pointer-events: auto;
}

.option-button {
  box-sizing: border-box;
  cursor: pointer;
  padding: 6px 12px;
  border: none;
  position: relative;
  transition: background 0.3s ease;
  width: 140px !important;
  height: 110px !important;
}

.option-button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.option-button.active::after {
  opacity: 1;
}

.option-button:hover {
  background: rgba(255, 255, 255, 0.05);
}

.option-button-image {
  width: 110px;
  height: 80px;
}

.option-button-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 15px;
  white-space: nowrap;
  transition: 0.3s;
}
.option-button:hover .option-button-text {
  color: gray;
}

.slider-contentUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  padding: 75px 0 0 60px;
  z-index: 3;
  font-family: AstonMartinSans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.slider-contentUp-header {
  font-size: 42px;
  line-height: 100%;
  text-transform: uppercase;
}
.slider-contentUp-text {
  width: 350px;
  line-height: 1.5;
}
.slider-contentDown-phone {
  display: none;
}

@media (max-width: 1280px) {
  .slide-full-height {
    padding: 0 50px;
  }
  .swiper-slide {
    height: 90vh !important;
  }
  .slider-contentUp-text {
    font-size: 13px;
  }
}

@media (max-width: 959px) {
  .slide-full-height {
    padding: 0 30px;
  }
  .slider-contentDown {
    padding: 0 30px 150px;
  }
  .slide-play-button {
    bottom: 67.5%;
  }
  .slider-contentDown-options {
    display: flex;
    justify-content: center;
  }
  .slider-contentUp {
    padding: 100px 0 0 30px;
  }
}

@media (max-width: 569px) {
  .slide-full-height {
    padding: 0px 30px;
  }
  .slider-background {
    height: 45vh;
  }
  .slide-image {
    height: 145vh;
  }
  .slider-wrapper {
    height: 45vh;
  }
  .slider-contentUp {
    display: none;
  }
  .slide-play-button {
    bottom: 37.5%;
  }
  .slider-button {
    display: none;
  }
  .slider-contentDown {
    top: 47vh;
    height: 20px;
    padding: 0px;
  }
  .slider-contentDown-options {
    display: none;
  }
  .slide-header {
    display: block;
    white-space: nowrap;
  }
  .slider-contentDown-phone {
    display: block;
    padding: 48px 20px 20px;
    transition: all ease-in-out 0.5s;
  }
  .slider-contentDown-phone-text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  .slider-contentDown-phone-select {
    margin: 25px 0 0;
  }
  .slider-contentDown-phone-select-text {
    font-size: 10px;
    margin-bottom: 8px;
    color: gray;
  }
}
